In [1]:
#Now we'll elarn about reindexing

In [23]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [4]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])

In [5]:
#Show
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [7]:
#Show
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [13]:
# We can alos fill in values for new indexes
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [15]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [20]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [29]:
#Reindexing rows, columns or both

#Lets make a datafram ewith some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

In [37]:
#Notice we forgot 'C' , lets reindex it into dframe
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

In [38]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.442886  0.128326  0.091837  0.018814 -1.419262   NaN
B  0.650227  0.438677 -0.208091  1.263344  0.147084   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.089677  1.616700  1.856270  0.553392  1.046027   NaN
E  0.608385 -0.316224  0.341510 -0.085305  1.015604   NaN
F  1.054495 -0.274723  1.251613  0.160329 -0.527855   NaN

In [40]:
#Reindex quickly using the label-indexing with ix (we'll see this more in the future)

#Show original
dframe

       col1      col2      col3      col4      col5
A  0.442886  0.128326  0.091837  0.018814 -1.419262
B  0.650227  0.438677 -0.208091  1.263344  0.147084
D -1.089677  1.616700  1.856270  0.553392  1.046027
E  0.608385 -0.316224  0.341510 -0.085305  1.015604
F  1.054495 -0.274723  1.251613  0.160329 -0.527855

In [41]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.442886  0.128326  0.091837  0.018814 -1.419262   NaN
B  0.650227  0.438677 -0.208091  1.263344  0.147084   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.089677  1.616700  1.856270  0.553392  1.046027   NaN
E  0.608385 -0.316224  0.341510 -0.085305  1.015604   NaN
F  1.054495 -0.274723  1.251613  0.160329 -0.527855   NaN

# Notes

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [4]:
ser1 = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [20]:
ser2 = ser1.reindex(['Z', 'B', 'C', 'D', 'E', 'F'])
ser2

Z    NaN
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [22]:
# new index will be filled with 0
ser2.reindex(['Z', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value=0)

Z    NaN
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [29]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0, 5, 10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [30]:
ranger = range(15)
ranger

range(0, 15)

In [32]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [33]:
dframe = DataFrame(randn(25).reshape(5, 5), index=['A', 'B', 'D', 'E', 'F'],
                    columns=['col1', 'col2', 'col3', 'col4', 'col5'])
dframe

       col1      col2      col3      col4      col5
A  0.872790  0.117833 -0.201686 -1.269684  0.510280
B -0.073852 -0.930958 -1.085429  0.588541  0.900299
D -0.172465  0.848041 -1.105623  0.566267 -0.359914
E -1.213013  0.100980  0.752472 -0.260047 -0.019145
F  1.714579 -0.734479 -0.189035  0.358157 -0.938521

In [39]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
dframe2

       col1      col2      col3      col4      col5
A  0.872790  0.117833 -0.201686 -1.269684  0.510280
B -0.073852 -0.930958 -1.085429  0.588541  0.900299
C       NaN       NaN       NaN       NaN       NaN
D -0.172465  0.848041 -1.105623  0.566267 -0.359914
E -1.213013  0.100980  0.752472 -0.260047 -0.019145
F  1.714579 -0.734479 -0.189035  0.358157 -0.938521

In [40]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.872790  0.117833 -0.201686 -1.269684  0.510280   NaN
B -0.073852 -0.930958 -1.085429  0.588541  0.900299   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.172465  0.848041 -1.105623  0.566267 -0.359914   NaN
E -1.213013  0.100980  0.752472 -0.260047 -0.019145   NaN
F  1.714579 -0.734479 -0.189035  0.358157 -0.938521   NaN

In [45]:
dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], new_columns]

/Users/yunrou/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/Users/yunrou/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A  0.872790  0.117833 -0.201686 -1.269684  0.510280   NaN
B -0.073852 -0.930958 -1.085429  0.588541  0.900299   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.172465  0.848041 -1.105623  0.566267 -0.359914   NaN
E -1.213013  0.100980  0.752472 -0.260047 -0.019145   NaN
F  1.714579 -0.734479 -0.189035  0.358157 -0.938521   NaN